.imageDeFondAccueil
{
    width: 100%;
    margin-top: 131px;
    position: fixed;
    z-index: 1;
    opacity: 0.6;
    top: 0px;  
}
.imageDeFondAccueil .imgDeFond
{
    width: 100%; 
}

/*----------Accueil---*/
.Accueil
{
    position: relative;
    z-index: 2;
}
.Accueil .citation
{
    width: 100%;
    /* height: 500px; */
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: crimson;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}
.Accueil .citation blockquote
{
    padding-bottom: 20px;
    font-style: italic;
}
.Accueil .citation p
{
    padding-bottom: 20px;
    font-style: italic;
}
.Accueil .separator
{
    width: 55%;
    border-color: rgb(241, 123, 147);
}
.Accueil .blockContenu
{
    background-color: #92c4f3;
    padding-top: 5px;
}
.Accueil .titreMain
{
    background-color: grey;
    color: white;
    height: 55px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Accueil .articles
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.Accueil .articleLivres
{  
    border: 2px solid rgb(209, 201, 201);
    background-color: white;
    border-radius: 5px;
    width: 350px;
    margin-bottom: 25px;
}
.Accueil .articleLivres h3,
.Accueil .articleLivres p
{
    text-align: center;
    background-color: rgb(209, 201, 201);
    padding: 10px;
}
.Accueil .articleLivres .dateDeSortie
{
    font-size: 0.8em;
}
.Accueil .imgArticleLivre  
{
    text-align: center;
    padding-top: 10px;
    max-width: 55%;
    margin: 0 auto;
}
.Accueil .imgArticleLivre img
{
    
    margin: 0 auto;
    border: 1px solid #92c4f3;
    height: 232px;
}
.Accueil .articles h4
{
    text-align: center;
    padding: 10px;
    height: 55px;
    
}
.Accueil .button
{
    background-color: indigo;
    width: 80%;
    text-align: center;
    margin-top: 10px;
    color: white;
}
.Accueil .articles a
{
    display: flex;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 25px;
    max-width: 150px;
    background-color: rgb(243, 131, 26);
    justify-content: center;
    border-radius: 5px;
}


/*---------------media querie tablette------------*/
@media screen and (max-width: 992px)
{
    
    .imageDeFondAccueil
    {
        margin-top: 103px;
    }
    .Accueil .citation
    {
        width: 55%;
        padding-top: 103px;
    }
    .Accueil .titreMain
    {
        font-size: 1.7rem;
    }
    
}

/*-------------media querie mobile----------------*/
@media screen and (max-width:530px)
{
    .Accueil .citation
    {
        opacity: 0;
    }
    .Accueil .titreMain
    {
        font-size: 1.3rem;
    }
}