.coupDeCoeur .separator
{
    width: 55%;
    border-color: rgb(241, 123, 147);
}
.coupDeCoeur .blockContenu
{
    background-color: #92c4f3;
    padding-top: 5px;
}
.coupDeCoeur .titreMain
{
    background-color: grey;
    color: white;
    height: 55px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coupDeCoeur .articles
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.coupDeCoeur .articleLivres
{  
    border: 2px solid rgb(209, 201, 201);
    background-color: white;
    border-radius: 5px;
    width: 350px;
    margin-bottom: 25px;
}
.coupDeCoeur .articleLivres h3,
.coupDeCoeur .articleLivres p
{
    text-align: center;
    background-color: rgb(209, 201, 201);
    padding: 10px;
}
.coupDeCoeur .articleLivres .dateDeSortie
{
    font-size: 0.8em;
}
.coupDeCoeur .imgArticleLivre  
{
    text-align: center;
    padding-top: 10px;
    max-width: 55%;
    margin: 0 auto;
}
.coupDeCoeur .imgArticleLivre img
{
    max-width: 75%;
    margin: 0 auto;
    border: 1px solid #92c4f3;
}
.coupDeCoeur .articles h4
{
    text-align: center;
    padding: 10px;
}
.coupDeCoeur .button
{
    background-color: indigo;
    width: 80%;
    text-align: center;
    margin-top: 10px;
    color: white;
}
.coupDeCoeur .articles a
{
    display: flex;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 25px;
    max-width: 150px;
    background-color: rgb(243, 131, 26);
    justify-content: center;
    border-radius: 5px;
}