/* MAIN DETAIL ATELIER  */
.detailAtelier
{
    padding-top: 170px;
}
/*FIN DETAIL ATELIER  */

/* FILS D'ARIANE  */
.detailAtelier .filArianeAtelier
{
    padding-left: 25px;
}
.detailAtelier .filArianeAtelier
{
    color: white;
    font-weight: bold;
}
/* FIN  FILS D'ARIANE  */

/* NOM DE ATELIER  */
.detailAtelier h1
{
    text-align: center;
    color: white;
}

/* DESCRIPTION ATELIER  */
.sectionDescriptionAtelier
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 2em;
}
.detailAtelier .descriptionAtelier
{
    
    border: 2px solid white;
    width: 70%;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(218, 213, 213);
    text-align: center;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 35px;
    padding: 5px;
}
.detailAtelier .descriptionAtelier h2
{
    color: white;
    text-align: center;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RESERVATION ATELIER  */

.detailAtelier .sectionReservationAtelier
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 2em;
}
.detailAtelier .reservationAtelier
{
    border: 2px solid rgb(218, 213, 213);
    width: 70%;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    color: rgb(218, 213, 213);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
.detailAtelier .reservationAtelier h2
{
    color: rgb(218, 213, 213);
    text-align: center;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------media querie tablette------------*/
@media screen and (max-width: 992px)
{
    .detailAtelier
    {
        padding-top: 145px;
    }
    
}