footer
{
    position: relative;
    z-index: 2;
    background-color: #92c4f3;
    padding-top: 20px;
}
.contenuFooter
{
    position: relative;
    font-size: 0.8rem;
}

.contenuFooter .figureBgFooter
{
    width: 100%;
    text-align: center;
}

.contenuFooter .figureBgFooter img
{
    width: 100%;
}

.contenuFooter h3
{
    margin-bottom: 10px;
    color: royalblue;
}
.contenuFooter .adresse
{
    width: 400px;
    position: absolute;
    top: 9%;
    left: 35%;
    text-align: left;
}
.contenuFooter .iconAdresse
{
    padding-inline-end: 10px;
    padding-top: 5px;
    width: 23px;
}
.contenuFooter .footerMap
    {
        display: none;
    }
.contenuFooter .ulReseauxFooter
{
    width: 250px;
    position: absolute;
    bottom: 32%;
    right: 13%;
    text-align: center;
}
.contenuFooter .ulReseauxFooter ul
{

    display: flex;
    justify-content: center;
}
.contenuFooter .ulReseauxFooter li
{
    list-style-type: none;
    margin: 10px;
}
.contenuFooter .ulReseauxFooter li img
{
    width: 35px;
}
.contenuFooter .mentionFooter
{
    width: 300px;
    position: absolute;
    bottom: 35%;
    left: 8%;
    text-align: left;
    margin-left: 11%;
}

.contenuFooter .iconMentions
{
    padding-inline-end: 10px;
    padding-top: 5px;
    width: 23px;
}
.contenuFooter .copyFooter{
    position: absolute;
    bottom: 7%;
    right: 15%;
    color: rgb(108, 140, 199);
}
.contenuFooter .copyFooter p
{
    text-align: center;
    font-size: smaller;
}

/*---------------media querie tablette------------*/
@media screen and (max-width: 1218px)
{
    .contenuFooter .adresse
    {
        top: 5%;
    }
    .contenuFooter .mentionFooter
    {
        left: 6%;
    }
    .contenuFooter .ulReseauxFooter
    {
        right: 8%;
        font-size: 90%;
        bottom: 25%;
    }

}
@media screen and (max-width: 992px)
{
    .contenuFooter .ulReseauxFooter
    {   
        position: absolute;
        top: 29%;
        right: 10%;
        display: flex;
        padding-top: 2px;
    }
    .contenuFooter .cacherReseaux
    {
        display: none;
    } 
    
    .contenuFooter .cacherLocalisation 
    {
        display: none;
    }
    .contenuFooter .mentionFooter 
    {  
        position: absolute;
        top: 6%;
        left: 12%;
        margin-left: 10%;
    }
    .contenuFooter .copyFooter
    {
        top: 105%;
        right: 30%;
        color: crimson;

    }
    .contenuFooter .adresse 
    {
        padding-top: 10px;
        position: relative;
        width: 100%;
        left: 0%;
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 10px;
    }
    .contenuFooter .footerMap
    {
        display: block;
    }   
}

@media screen and (max-width:800px){

    .contenuFooter .figureBgFooter img
    {
      display: none;
    }
    .contenuFooter .mentionFooter
    {
        position: relative;
        left: 21%;
        margin-top: 15px;
    }
    .contenuFooter .ulReseauxFooter
    {
        position: relative;
        width: 100%;
        left:0%;
        justify-content: space-evenly;
    }
    
    .contenuFooter .ulReseauxFooter ul {
        width: 20%;
        justify-content: space-around;
    }
    .ulReseauxFooter ul
    {
        display: flex;
        flex-direction: column;

        
    }
    

}

/*-------------media querie mobile----------------*/
@media screen  and (min-width:200px) and (max-width:530px){

    
    .contenuFooter .cacherLocalisation 
    {
        display: inline;

    } 
    .contenuFooter .footerMap
    {
        display: none;
    }
    
    .contenuFooter .copyFooter
    {
        width: 100%;
        left: 3%;

    }
    .contenuFooter .ulReseauxFooter
    {
        position: relative;
        width: 50%;
        margin: 0 auto;
        justify-content: space-evenly;
    }
    .ulReseauxFooter
    {
        display: flex;
        flex-wrap: wrap;
    }
    .ulReseauxFooter ul
    {
        width: 100%;
    }
    .ulReseauxFooter li
    {
        margin: 10px 5px;
    }
    
    
    

} 