/* MAIN DETAIL MON COMPTE  */
.monCompte
{
    padding-top: 170px;
}
/*FIN DETAIL MON COMPTE   */

/* FILS D'ARIANE  */
.monCompte .filArianeMonCompte
{
    padding-left: 25px;
}
.monCompte .filArianeMonCompte
{
    color: white;
    font-weight: bold;
}
/* FIN  FILS D'ARIANE  */

/* DIV CONTENU COMPTE  */
.monCompte .articleCompte
{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.monCompte .conteneurMonCompte h1
{
    text-align: center;
    color: white;
    margin: 15px;
    padding: 5px;
}
.monCompte .conteneurMonCompte h3
{
    width: 30%;
    display: flex;
    align-items: center;
    color: white;
}
.monCompte .champsCompte 
{
    background-color: rgb(235, 223, 223);
    display: block;
    width: 60%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin: 10px;
}
/*FIN DIV CONTENU COMPTE  */

/* BOUTON COMPTE MODIFIER  */
.monCompte .btnCompteModifier
{
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #88c5db 5%, #408c99 100%);
	background-color:#88c5db;
	border-radius:8px;
    display:inline-block;
	cursor:pointer;
	color:#ffffff;
	margin: 20px;
	font-size:16px;
	font-weight:bold;
	padding:12px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.monCompte .btnCompteModifier:hover
{
    background:linear-gradient(to bottom, #408c99 5%, #88c5db 100%);
	background-color:#408c99;
}
.monCompte .btnCompteModifier:active
{
    position:relative;
	top:5px;
}
/*FIN BOUTON COMPTE MODIFIER  */


/* DIV CONTENU COMPTE  MODIFIER */
.monCompte .conteneurMonCompteModifier
{
    margin: 10px;
}
.monCompte .conteneurMonCompteModifier h1
{
    text-align: center;
    color: white;
    margin: 15px;
    padding: 5px;
}
.monCompte .compteCivilite
{
    text-align: center;
    margin: 5px;
   
}
.monCompte .divContenuCompte
{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.monCompte .labelAdresse
{    
    display: flex;
    align-items: center;
    width: 30%;
    font-weight: bold;
    font-size: 1.1em;
    color: white;
}
.monCompte .champsCompteModifier
{
    display: block;
    width: 60%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin: 10px;
}
.monCompte .divcontenuBouton .bouton
{
    text-align: center;   
}
/*FIN DIV CONTENU COMPTE  */

/* BOUTON COMPTE VALIDER  */
.monCompte .btnCompteEnregistrer
{
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #88c5db 5%, #408c99 100%);
	background-color:#88c5db;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	margin: 20px;
	font-size:16px;
	font-weight:bold;
	padding:12px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.monCompte .btnCompteEnregistrer:hover
{
    background:linear-gradient(to bottom, #408c99 5%, #88c5db 100%);
	background-color:#408c99;
}
.monCompte .btnCompteEnregistrer:active
{
    position:relative;
	top:5px;
}
/*FIN BOUTON COMPTE VALIDER  */

/* BOUTON COMPTE ANNULER  */
.monCompte .btnCompteRetour
{
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #88c5db 5%, #408c99 100%);
	background-color:#88c5db;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	margin: 20px;
	font-size:16px;
	font-weight:bold;
	padding:12px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.monCompte .btnCompteRetour:hover
{
    background:linear-gradient(to bottom, #408c99 5%, #88c5db 100%);
	background-color:#408c99;
}
.monCompte .btnCompteRetour:active
{
    position:relative;
	top:5px;
}
/* BOUTON COMPTE ANNULER  */

 /* CONTENEUR MODIFIER LE MOT DE PASSE   */




/*-------------media querie mobile----------------*/
@media screen and (max-width:530px){
    .monCompte .articleCompte
    {
        flex-direction: column;
        align-items: center;
    }
    .monCompte .conteneurMonCompte h3
    {
        width: 80%;
    }
    .monCompte .champsCompte
    {
        width: 80%;
    }


    .monCompte .divContenuCompte
    {
        flex-direction: column;
        align-items: center;
    }
    .monCompte .labelAdresse
    {
        width:80%;
    }
    .monCompte .champsCompteModifier
    {
        width:80%;
    }
}



