/* MAIN NOUVEAUTE  */
.nouveaute
{
    padding-top: 145px;
}
/*FIN MAIN NOUVEAUTE  */

/* FILS D'ARIANE  */
.nouveaute .filArianeNouveaute
{
    padding-left: 25px;
    margin-top: 30px;
}
.nouveaute .filArianeNouveaute
{
    color: white;
    font-weight: bold;
}

/* FIN  FILS D'ARIANE  */

/* CAROUSSEL NOUVEAUTE  */

/* The grid: Four equal columns that floats next to each other */
.nouveaute .divImgSlider 
{
    padding: 15px;
}
/* Style the images inside the grid */
.nouveaute .divImgSlider img 
{
    opacity: 0.8; 
    cursor: pointer; 
    width: 100px;
}
.nouveaute .divImgSlider img:hover 
{
    opacity: 1;
}
.nouveaute .figureSlid
{
    border: 2px solid brown;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 25px;
}
/* The expanding image container */
.nouveaute .fermerSlider 
{
    position: relative;
    display: none;
    background-color: brown;
    padding: 15px;
    width: 75%;
    margin: 0 auto;
    margin-top: 10px;
}
/* Expanding image text */
.nouveaute .imgtext 
{
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 20%;
    color: white;
    position: absolute;
    bottom: 290px;
    left: 275px;
    font-size: 20px;
}
.nouveaute .etendreImg
{
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 20%;

}
/* Closable button inside the expanded image */
.nouveaute .fermerBtn 
{
    position: absolute;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
    bottom: 302px;
}
/* FIN CAROUSSEL NOUVEAUTE   */



.nouveaute .separator
{
    width: 55%;
    border-color: rgb(241, 123, 147);
}
.nouveaute .blockContenu
{
    background-color: #92c4f3;
    padding-top: 5px;
}
.nouveaute .titreMain
{
    background-color: grey;
    color: white;
    height: 55px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nouveaute .articles
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.nouveaute .articleLivres
{  
    border: 2px solid rgb(209, 201, 201);
    background-color: white;
    border-radius: 5px;
    width: 350px;
    margin-bottom: 25px;
}
.nouveaute .articleLivres h3,
.nouveaute .articleLivres p
{
    text-align: center;
    background-color: rgb(209, 201, 201);
    padding: 10px;
}
.nouveaute .articleLivres .dateDeSortie
{
    font-size: 0.8em;
}
.nouveaute .imgArticleLivre  
{
    text-align: center;
    padding-top: 10px;
    max-width: 55%;
    margin: 0 auto;
    height: 232px;
}
.nouveaute .imgArticleLivre img
{
    border: 1px solid #92c4f3;
    max-width: 75%;
    margin: 0 auto;
    margin-top: 25px;
}
.nouveaute .articles h4
{
    text-align: center;
    height: 65px;
    padding-top: 35px;
}
.nouveaute .button
{
    background-color: indigo;
    width: 80%;
    text-align: center;
    margin-top: 10px;
    color: white;
}
.nouveaute .articles a
{
    display: flex;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 25px;
    max-width: 150px;
    background-color: rgb(243, 131, 26);
    justify-content: center;
    border-radius: 5px;
}




/*---------------media querie tablette------------*/
@media screen and (max-width: 992px)
{
    .nouveaute .divImgSlider img 
    {
        width: 80px;
    }

    .nouveaute .filArianeNouveaute 
    {
        padding-left: 25px;
        margin-top: 0px;
    }
    .nouveaute .fermerBtn 
    {
        bottom: 200px;
    }
    .nouveaute .imgtext 
    {
       
        bottom: 160px;
        left: 155px;
    }
       

}


/*-------------media querie mobile----------------*/
@media screen and (max-width:530px)
{
    .nouveaute .fermerBtn 
    {
        bottom: 110px;
    }
    .nouveaute .imgtext 
    {
        bottom: 50px;
        left: 55px;
        text-align: center;
    } 
    .nouveaute .divImgSlider img 
    {
        width: 120px;
    }
    .nouveaute .figureSlid 
    {
        justify-content: center;
    }
}