/* MAIN RECHERCHE SERT A REMONTER LA PAGE   */
.recherche
{
    padding-top: 145px;
}
/*FIN DETAIL RECHERCHE  */

/* FILS D'ARIANE  */
.recherche .filArianeRecherche
{
    padding-left: 25px;
}
.recherche .filArianeRecherche
{
    color: white;
	font-weight: bold;
	padding-bottom: 20px;
}
/* FIN  FILS D'ARIANE  */

/* TITRE PAGE  */
 .recherche h1 
 {
	 color: crimson;
	 text-align: center;
 }
/* FIN TITRE PAGE */

.recherche .separateurH1
{
	width: 80%;
	margin: 0 auto;
}


/* SECTION RECHERCHE */
.recherche .sectionRecherche
{

	display: flex;
	flex-wrap: wrap;

}
/*FIN SECTION RECHERCHE */

/* DESCRIPTION LIVRE  */
.recherche .descriptionLivre
{
	background-color: rgb(199, 194, 194);
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 20px;
	padding: 20px;
	align-items: center;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}
/* FIN DESCRIPTION LIVRE  */

 /* ASIDE  */
.recherche .titreImgReseaux
{
	border:2px solid  white;
	max-width: 20%;
	color: white;
	text-align: center;
	padding: 10px;
}
.recherche .titreImgReseaux h3
{
	padding: 5px;
}

.recherche .imgArticleLivre img
{
	width: 30%;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
 /* ASIDE  */

 /* IMAGE  */
.recherche .reglageImg
{
	background-color: goldenrod;
}
/*FIN IMAGE  */

 /* DESCRIPTION DU LIVRE  */
 
.recherche .livreDescription
{
	border:2px solid white;
	border-radius: 5px;
	width: 50%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	padding: 10px;
}
.recherche .livreDescription h2
{
	color:  white;
	text-align: center;
	padding: 10px;

}
.recherche .livreDescription p
{
	text-align: center;
	padding: 10px;

}
 /* FIN DESCRIPTION DU LIVRE  */

 /* BOUTON EN SAVOIR PLUS  */
.recherche .bouton
{

	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #88c5db 5%, #408c99 100%);
	background-color:#88c5db;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	margin: 20px;
	font-size:16px;
	font-weight:bold;
	padding:12px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	height: 20px;
}
.recherche .bouton:hover
 {
	background:linear-gradient(to bottom, #408c99 5%, #88c5db 100%);
	background-color:#408c99;
}
.recherche .bouton:active 
{
	position:relative;
	top:5px;
}


/*---------------media querie tablette------------*/
@media screen and (max-width: 992px)
{
    .recherche
    {
        padding-top: 145px;
	}
}




/*-------------media querie mobile----------------*/
@media screen and (max-width:530px)
{
	.recherche .titreImgReseaux
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.recherche .titreImgReseaux
	{
		max-width: 50%;
		margin: 0 auto;
	}	
	.recherche .livreDescription
	{
		display: none;
	}
}
