/* MAIN DETAIL PASSE OUBLIER  */
.passOublier
{
    padding-top: 170px;
}
/*FIN DETAIL PASSE OUBLIER   */

/* FILS D'ARIANE  */
.passOublier .filArianePassOublier
{
    padding-left: 25px;
}
.passOublier .filArianePassOublier
{
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
}
/* FIN  FILS D'ARIANE  */


/* PAGE MOT DE PASSE OUBLIER */
.passOublier h1
{
    text-align: center;
    color: white;
}
.passOublier p
{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* SECTION: CONTENEUR PASS OUBLIER */

/* FORM  */
.passOublier .conteneurPassOublier
{
    text-align: center;
}
/* INPUT  */
.passOublier .champsPass
{
    height: 30px;
    width: 13%;
}
