/* MAIN DETAIL PLAN DU SITE  */
.planDuSite
{
    padding-top: 170px;
}
/*FIN DETAIL PLAN DU SITE  */



/* FILS D'ARIANE  */
.planDuSite .filArianePlanDuSite
{
    padding-left: 25px;
}
.planDuSite .filArianePlanDuSite
{
    color: white;
    font-weight: bold;
}
/* FIN  FILS D'ARIANE  */



/* CONTENEUR PLAN DU SITE  */

.contenuPlanDuSite
{
    
    background-color: white;
    width: 50%;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
}
.contenuPlanDuSite h1
{
    color: black;
    text-align: center;
    margin-bottom:15px;  
}
.contenuPlanDuSite ul li
{
    margin-left: 50px;
}
.contenuPlanDuSite ul li ul li
{
    margin-left: 30px;
}
.contenuPlanDuSite a
{
    color: rgb(66, 105, 128);
    font-style: italic;
    font-size: 1.1rem;
}

/*FIN CONTENEUR PLAN DU SITE  */


/*-------------media querie mobile----------------*/
@media screen and (max-width:530px)
{
    .contenuPlanDuSite
    {
        width: 80%;
    }
}