/* MAIN PANIER SERT A REMONTER LA PAGE   */
.panier
{
    padding-top: 170px;
}
/*FIN DETAIL PANIER  */

/* FILS D'ARIANE  */
.panier .filArianePanier
{
    padding-left: 25px;
}
.panier .filArianePanier
{
    color: white;
    font-weight: bold;
}
/* FIN  FILS D'ARIANE  */

/* MES DEMANDE DE RESERVATION NON VALIDEES  */
.panier .sectionCommande
{
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* article */
.panier .commande 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
}
.panier .sectionCommande img
{
    text-align: right;
}
/*FIN MES DEMANDE DE RESERVATION NON VALIDEES   */

/*MES DEMANDE EN ATTENTE DE VALIDATION */
.panier .sectionAttente
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.panier .commandeAttente
{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
}
/* FIN MES DEMANDE EN ATTENTE DE VALIDATION */


/* SECTION CONFIRMER LA COMMANDE  */
.panier .sectionConfirmeCommande
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.panier .commandeConfirmer
{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
}
/*FIN SECTION CONFIRMER LA COMMANDE  */

/* BOUTON CONFIRMER COMMANDE   */
 .panier .bouton
 {
    text-align: center;
}

/* ************************************************************************** */

/* NON DU LIVRE ET NOM AUTEUR  */
.panier .nomDuLivre, .panier .nomAuteur
{
    background-color: darkgray;
    border-radius: 5px;
    width: 35%;
}
.panier .nomDuLivre h2, .panier .nomAuteur h2, .panier .dateJourValider H2
{
    color: white;
    text-align: center;
    padding: 5px;
}
.panier .nomDuLivre p, .panier .nomAuteur p, .panier .dateJourValider p
{
    padding: 15px;
    color: black;
}
/*FIN NON DU LIVRE ET NOM AUTEUR */


/* IMAGE DE SUPPRESSION LIVRE  */
.panier .imgSupprimer
{
    text-align: center;
}
.panier .imgSupprimer img
{
   width: 30px;
   text-align: center;
}
.panier .imgSupprimer a
{
   width: 50px;
}
/*FIN IMAGE DE SUPPRESSION LIVRE  */

/* DATE DU JOUR VALIDE  */
.panier .dateJourValider
{
    background-color: darkgray;
    border-radius: 5px;
    width: 20%;
    text-align: center !important;
}
/* SEPARATEUR  */
.panier .separateurDeContenue
{
    margin: 15PX;
    width: 80% ;
    text-align: center;
    color: crimson;
}
.panier .titreCommum
{
    color: crimson;
    margin: 15px;
}

/*---------------media querie tablette------------*/
@media screen and (max-width: 992px)
{
    .panier
    {
        padding-top: 145px;
	}
}




/*-------------media querie mobile----------------*/
@media screen and (max-width:530px)
{
    .panier .commande
    {
        flex-direction: column;
        align-items: center;
    }

    .panier .commande article
    {
        width:100%;
        margin-bottom: 10px;
    }

    .panier .commandeAttente
    {
        flex-direction: column;
    }

    .panier .commandeAttente article
    {
        width:100%;
        margin-bottom: 10px;
    }

    .panier .commandeConfirmer
    {
        flex-direction: column;
    }

    .panier .commandeConfirmer article
    {
        width:100%;
        margin-bottom: 10px;
    }
}